<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .post-title {
            color: #0eb0c9;
            /* 孔雀蓝 */
        }
    </style>
</head>

<body class="flex flex-col h-screen">
    <header class="border-b border-gray-200">
        <nav class="flex items-center justify-between max-w-3xl p-4 mx-auto">
            <a class="inline-flex w-10 h-10" href="/about.html">
                <img class="rounded-full" src="/images/avatar.jpg" alt="My avatar, a blue cat cartoon picture">
            </a>
            <ul class="flex space-x-5">
                <li><a href="/">Home</a></li>
                <li><a href="/posts/">Blog</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex-grow px-6 py-24 max-w-full sm:max-w-3xl mx-auto">
        <div class="text-center">
            <img src="/images/confused-travolta.gif" alt="John Travolta confused"
                class="object-cover w-full h-64 rounded-lg" />

            <p class="mt-6 text-gray-500">We can't find anything, try searching again.</p>
        </div>
    </main>
    <footer class="flex border-t border-gray-200 bg-slate-50 items-center justify-center py-8">
        <small>&copy; Kit Lau</small>
    </footer>
</body>

</html>