<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Kit Lau</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col h-screen">
    <header class="border-b border-gray-200">
        <nav class="flex items-center justify-between max-w-3xl p-4 mx-auto">
            <a class="inline-flex w-10 h-10" href="/about.html">
                <img class="rounded-full" src="/images/avatar.jpg" alt="My avatar, a blue cat cartoon picture">
            </a>
            <ul class="flex space-x-5">
                <li><a href="/">Home</a></li>
                <li><a href="/posts/index.html">Blog</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex-grow px-6 py-12 sm:py-24 max-w-full sm:max-w-3xl mx-auto">
        <section class="flex items-center h-full">
            <div>
                <div class="pb-4 sm:pb-9">
                    <h1 class="text-5xl sm:text-7xl py-6 sm:py-9 font-bold">About Kit Lau</h1>
                    <p class="text-lg sm:text-xl pb-3">He is a poor .NET (Not .NET Framework) developer. He is also
                        interested in Go and Python.</p>
                </div>
                <div class="pb-4 sm:pb-9">
                    <h2 class="text-3xl sm:text-5xl py-6 sm:py-9 font-bold">Looking for a resume?</h1>
                        <p class="text-lg sm:text-xl pb-3">He has not finish it.</p>
                </div>
                <div>
                    <h2 class="text-3xl sm:text-5xl py-6 sm:py-9 font-bold">Where you can find me?</h1>
                        <p class="text-lg sm:text-xl pb-3">Nowhere. He do not have any social media accounts right now.</p>
                        <p class="text-lg sm:text-xl pb-3">But if you want offer him a (well-paid) job, <a
                                href="mailto:kit.j.lau@outlook.com"
                                class="underline underline-offset-8 hover:text-teal-300">e-mail him</a> please.</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="flex border-t border-gray-200 bg-slate-50 items-center justify-center py-8">
        <small>&copy; Kit Lau</small>
    </footer>
</body>

</html>