<!DOCTYPE html>
<html lang="en">
$HEAD_PLACEHOLDER
<body>
    $HEADER_PLACEHOLDER
    <main>
        <section>
            <h2>404😿</h2>
            <p>Page Not Found!</p>
            <button><a href="/">Go home</a></button>
            <button><a href="/posts/index.html">View all posts</a></button>
            <button><a href="/about.html">About me</a></button>
        </section>
    </main>
    $FOOTER_PLACEHOLDER
    $SCRIPT_PLACEHOLDER
</body>
</html>