@using System.Globalization;

<!DOCTYPE html>
<html lang="zh-cn">
$HEAD_PLACEHOLDER
<body>
    $HEADER_PLACEHOLDER
    <main>
        <article>
            <div>
                <h2>About Kit Lau</h2>
                <p>
                    He is a poor .NET (Not .NET Framework) developer. He is also interested in Go and Python.
                </p>
            </div>
            <div>
                <h2>Looking for a resume?</h2>
                <p>He has not finish it.</p>
            </div>
            <div>
                <h2>Where you can find him?</h2>
                <p>Nowhere. He do not have any social media accounts right now.</p>
                <p>But if you want offer him a (well-paid) job, <a href="mailto:kit.j.lau@outlook.com">e-mail him</a> please.</p>
            </div>
        </article>
    </main>
    $FOOTER_PLACEHOLDER
    $SCRIPT_PLACEHOLDER
</body>
</html>