<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    <link id="light-css-1" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2.1.1/out/light.min.css" integrity="sha256-mITwB/566/E0NfmxY2HvjCbSV7W/fakAT7l2k/uBlG0=" crossorigin="anonymous">
    <link id="light-css-2" rel="stylesheet" href="/site.css" />
    <link id="dark-css-1" rel="stylesheet alternate" href="https://cdn.jsdelivr.net/npm/water.css@2.1.1/out/dark.min.css" integrity="sha256-FD9D6bdBVZQ4EOLqJCE0YNtDHl2BJ71gKCoTNGBnXCQ=" crossorigin="anonymous">
    <link id="dark-css-2" rel="stylesheet alternate" href="/site-tomorrow-night.css" />
    <style>b a{padding-left:5px;padding-right:5px;border-radius:3px;}main{border-top:1px solid var(--border);margin-top:40px;}</style>
</head>