<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    <link id="light-css-1" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link id="light-css-2" rel="stylesheet" href="/site.css" />
    <link id="dark-css-1" rel="stylesheet alternate" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link id="dark-css-2" rel="stylesheet alternate" href="/site-tomorrow-night.css" />
</head>