@using System.Globalization;

<!DOCTYPE html>
<html lang="zh-cn">
$HEAD_PLACEHOLDER
<body>
    $HEADER_PLACEHOLDER
    <main>
        <article>
            <br />
            @{
                CultureInfo us = new CultureInfo("en-US");
                string timeTitle = $"GMT {Model.ContentModel.FrontMatter.LastUpdatedTime.ToString("yyyy/MM/dd HH:mm:ss", us)}";
                string timeDatetime = $"{Model.ContentModel.FrontMatter.LastUpdatedTime.ToString("yyyy-MM-dd HH:mm:ss", us)}Z";
                string tags = "<b><a>" + string.Join("</a></b>&nbsp;<b><a>", Model.ContentModel.FrontMatter.Tags) + "</a></b>";

                <time class="text-sm sm:text-base" title="@timeTitle" datetime="@timeDatetime">
                        @Model.ContentModel.FrontMatter.LastUpdatedTime.ToString("dd MMMM yyyy", us)
                </time>
                <div>
                    <br />
                    @tags
                </div>

            }
@Model.ContentModel.Content
        </article>
    </main>
    $FOOTER_PLACEHOLDER
    $SCRIPT_PLACEHOLDER
</body>
</html>